@font-face {
  font-family: firstfont;
  src: url("../fonts/Brusthy.ttf") format("truetype");
}

* {
  margin: 0;
  font-family: firstfont;
}

body {
  /* height: 50vw; */
  background-image: url(../img/DSC_0011.jpg);
  background-size: 100%;
  background-repeat: no-repeat;

  padding-top: 0.5em
}

.navbar-brand {
  margin-left: 1em;
  font-size: 1.5em;
}

.nav-link {
  font-size: 1.5em;
}

ul {
  margin-right: 0.5em;
}

.introbox {
  display: flex;
  justify-content: space-around;
  margin-top: 29vw;
}

/* :hover .home {}

:hover .contact {}

:hover .portfolio {} */

/* .rrss {

} */

footer {
    height: 15em;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-top: 11em;
}

.endbox {
  width: 80%;
}

.rrss {
  list-style-type: none;

  display: flex;
  flex-direction: row;

  justify-content: space-evenly;

  width: 100%;
  font-style: none;
}

.icon {
  height: 2em;
  color: black;
} 

.copyright {
  width: auto;
}